@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  .container .content h1 {
    font-size: 2.6rem;
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
  }

  .container .content h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
  }

  .container .content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
  }

  .container .content h1 {
    font-size: 1.7rem;
  }
}
